<ng-container *ngIf="!noInfo; else noInfoBlock">

    <ng-container *ngIf="!loading">
        <!-- Subheader -->
        <mat-toolbar color="accent" class="subheader">
            {{title}}
        </mat-toolbar>

        <!-- ./Subheader -->
        
        <div class="detail-page-wrapper">

            <!-- Top half of page -->
            <div class="flex-container-row">

                <!-- Left half of top -->
                <img src="{{imageUrl}}" alt="{{title}}" class="poster">
                <!-- ./Left half of top -->
                
                <!-- Right half of top -->
                <div class="flex-container-column spacing-left space-between">
                    <div class="flex-container-column">
                        <div class="release-date">
                            {{releaseDate}}
                        </div>
                        
                        <div class="runtime">
                            {{runtime}}
                        </div>     
                    </div>
                
                    <b class="flex-container-column">
                        {{rating}}
                    </b>
                    <a class="button-link" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
                        <button mat-raised-button color="accent" class="favourites-button">Add to Favourites</button>
                    </a>
                    
                </div>
                <!-- ./Right half of top -->
        
            </div>
            <!-- ./Top half of page -->
            <br>

            <!-- Bottom half of page -->
            <p>
                {{overview}}
            </p>
            <b>
                <h4 class="h4-heading">TRAILERS</h4>
            </b>
            <mat-nav-list>
                    <p *ngIf="!!trailerUrls && trailerUrls.length === 0" class="no-info">
                        No trailers found for this movie
                    </p> 
                <mat-list-item *ngFor="let trailer of trailerUrls; let i = index">
                    <a matLine href="{{trailer.url}}">
                        <mat-icon mat-list-icon>play_circle_outline</mat-icon>
                            Trailer {{i + 1}} 
                    </a>   
                </mat-list-item>
            </mat-nav-list>
            <!-- ./Bottom half of page -->
        </div>
    </ng-container>

    <!-- Loading indicator -->
    <div *ngIf="loading" class="center-container">
        <mat-spinner [diameter]="50"></mat-spinner>
    </div>
    <!-- ./Loading indicator-->
</ng-container>

<ng-template #noInfoBlock>
    <div class="center-container">
        <mat-icon class="no-info-icon">{{noInfo.matIcon}}</mat-icon>
        <p class="no-info-text">
            {{noInfo.message}}
        </p>
    </div>
    
</ng-template>

